@import url('https://fonts.googleapis.com/css2?family=Archivo:wdth,wght@62,100;125,900&display=swap');

p{
    opacity: 0;
}

#tab_grid{
  margin-top: 130px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

  body{
    width: 100%;
    height: 100%;
    font-weight: 100;
    font-stretch: 0%;
    justify-content: center;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 35px;
    margin: 0;
    padding: 0;
  }


  div{
    margin: 0;
    transition: all 2s;
    font-family:'Archivo', sans-serif;
    font-variation-settings: "wght" 0, 'wdth' 0;
  }

  
.mais{
    font-size: 35px;
    font-variation-settings: "wght" 900, 'wdth' 200;
}


@media screen and (max-width: 800px) {
  #tab_grid{
    margin-top: 20px;
    grid-template-columns: repeat(3, 1fr);
}
body{
  font-size: 25px;
}
}

@media screen and (max-width: 481px) {
  #tab_grid{
    margin-top: 45px;
}
}

@media screen and (max-height: 800px) {
  #tab_grid{
    grid-auto-rows: minmax(65px, auto);
  }
}

